<section id="content">
                <div class="container">

                    <div class="card">
                        <div class="card-header">
                            <h2>Welcome back ! <small>Vestibulum purus quam scelerisque, mollis nonummy metus
                            <div id="greet"></div></small></h2>
                        </div>

                        <div class="card-body" style="padding-bottom: 5%; padding-top: -1%;">
                                <h1 id="time" style="text-align:center; font-size: 6em;"></h1>
                                <h1 id="greeting" style="text-align:center;"></h1>
                            
                        </div>
                    </div>

                    <div class="mini-charts">
                        <div class="row">
                           <a href="#/notes"> <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <small>Notes</small>
                                            <h2>32 notes</h2>
                                        </div>
                                    </div>
                                </div>
                            </div></a>

                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-purple">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <small>Todos</small>
                                            <h2>6 things to do</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <small>Events and Calendar</small>
                                            <h2>0 events</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-bluegray">
                                    <div class="clearfix">
                                        <div class="chart stats-line-2"></div>
                                        <div class="count">
                                            <small>Today's Achievement Percent</small>
                                            <h2>70 %</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                            <!-- Todo -->
                            <div class="col-md-6">
                            <div id="todo" class="card card-light">
                                <div class="card-header ch-alt">
                                    <h2>Todo Lists <small>Quickly add, edit and manage your Todo List</small></h2>
                                </div>

                                <div class="card-body card-padding">
                                    <div class="t-add">
                                        <i class="ta-btn zmdi zmdi-plus" data-ma-action="todo-form-open"></i>

                                        <div class="ta-block">
                                            <textarea placeholder="What you want to do..."></textarea>

                                            <div class="tab-actions">
                                                <a data-ma-action="todo-form-close" href="#" class="c-red"><i class="zmdi zmdi-close"></i></a>
                                                <a data-ma-action="todo-form-close" href="#" class="c-green"><i class="zmdi zmdi-check"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-group">
                                        <div class="list-group-item media">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Archive</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox">
                                                        <i class="input-helper"></i>
                                                        <span>
                                                            Duis vitae nibh molestie pharetra augue vitae
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item media">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Archive</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox">
                                                        <i class="input-helper"></i>
                                                        <span>
                                                            Duis vitae nibh molestie pharetra augue vitae
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item media">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Archive</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox">
                                                        <i class="input-helper"></i>
                                                        <span>
                                                            In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item media">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Archive</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox">
                                                        <i class="input-helper"></i>
                                                        <span>
                                                            Suspendisse quis sollicitudin erosvel dictum nunc
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item media">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Archive</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox">
                                                        <i class="input-helper"></i>
                                                        <span>
                                                            Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- Calendar ->
                            <div class="card" id="calendar-widget">
                                <div class="card-header ch-alt bgm-teal">
                                    <div class="cwh-year"></div>
                                    <div class="cwh-day"></div>

                                    <button class="bgm-lightgreen btn btn-default bg btn-float"><i class="zmdi zmdi-plus"></i></button>
                                </div>

                                <div class="card-body card-padding-sm">
                                    <div id="cw-body"></div>
                                </div>
                            </div>-->

                            <!-- Recent Posts -->
                            <div class="card">
                                <div class="card-header ch-alt m-b-20">
                                    <h2>Recent Notes <small>A list of notes you've takes recently</small></h2>
                                    <ul class="actions">
                                        <li>
                                            <a href="#">
                                                <i class="zmdi zmdi-refresh-alt"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="#">Change Date Range</a>
                                                </li>
                                                <li>
                                                    <a href="#">Change Graph Type</a>
                                                </li>
                                                <li>
                                                    <a href="#">Other Settings</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <button class="btn bgm-cyan btn-float"><i class="zmdi zmdi-plus"></i></button>
                                </div>

                                <div class="card-body">
                                    <div class="list-group">
                                        <a class="list-group-item media" href="#">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="assets/img/profile-pics/1.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading">Note 1</div>
                                                <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                            </div>
                                        </a>
                                        <a class="list-group-item media" href="#">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="assets/img/profile-pics/2.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading">Note 2</div>
                                                <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                            </div>
                                        </a>
                                        <a class="list-group-item media" href="#">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="assets/img/profile-pics/3.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading">Note 3</div>
                                                <small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                            </div>
                                        </a>
                                        <a class="list-group-item media" href="#">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="assets/img/profile-pics/4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading">Note 4</div>
                                                <small class="lgi-text">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                            </div>
                                        </a>
                                        <a class="list-group-item media" href="#">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="assets/img/profile-pics/4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading">Note 5</div>
                                                <small class="lgi-text">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                            </div>
                                        </a>
                                        <a class="view-more" href="#">View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


<script type="text/javascript">
        var today = new Date();
var now = today.getHours();
var greeting = document.getElementById("greeting");
var message;

if ( now < 12 ){
  message = 'Good Morning';     
} else if ( now < 18 ) {
  message = 'Good Afternoon';
} else {
  message = 'Good Evening';
}

greeting.innerHTML = message + ', {{username}}';
</script>

<script type="text/javascript">
    function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML =
     h + ":" + m  ;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
window.onLoad = startTime();
</script>