<section id="content">
                <div class="container">

                    <div class="card col-md-12 col-sm-12 col-xs-12">
                        <div class="card-header">
                            <h2>Todos! <small>Here's what you have to do today
                            <div id="greet"></div></small></h2>
                        </div>

                        <div class="card-body" style="padding-bottom: 1%;">
                                <div class="row">
                                <div class="col-sm-12">
                                    <div role="tabpanel" class="tab">
                                        <ul class="tab-nav" role="tablist">
                                            <li class="active"><a href=".all9" aria-controls="all9" role="tab"
                                                                  data-toggle="tab">All Todos</a></li>
                                            <li role="presentation"><a href=".pending9" aria-controls="pending9"
                                                                       role="tab" data-toggle="tab">Pending</a></li>
                                            <li role="presentation"><a href=".completed9" aria-controls="completed9"
                                                                       role="tab" data-toggle="tab">Completed</a></li>
                                        <li role="presentation"><a href=".archive9" aria-controls="archive9"
                                                                       role="tab" data-toggle="tab">Archive</a></li>
                                        
                                        </ul>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active animated flipInX in all9">
                                                <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                                                    ipsum. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy
                                                    id, metus. Nulla sit amet est. Praesent ac massa at ligula laoreet
                                                    iaculis.
                                                    Vivamus aliquet elit ac nisl. Nulla porta dolor. Cras dapibus.
                                                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>

                                            </div>
                                            <div role="tabpanel" class="tab-pane animated tada pending9" id="">
                                                <p>Morbi mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor,
                                                    tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur
                                                    turpis.
                                                    Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                                                    pede. Nulla sit amet est. Donec mi odio, faucibus.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane animated lightSpeedIn completed9" id="">
                                                <p>Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit
                                                    quis, nisi. Cras id dui. Curabitur turpis.
                                                    Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                                                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque
                                                    quis, convallis in, nisi. Praesent ac sem eget est egestas
                                                    volutpat.</p>
                                            </div>

                                            <div role="tabpanel" class="tab-pane animated rollIn archive9" id="">
                                                <p>Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit
                                                    quis, nisi. Cras id dui. Curabitur turpis.
                                                    Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                                                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque
                                                    quis, convallis in, nisi. Praesent ac sem eget est egestas
                                                    volutpat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            
                        </div>
                    </div>
</div>
</section>